:root {
  --branding-color: linear-gradient(
    76.8deg,
    rgb(121, 45, 129) 3.6%,
    rgb(36, 31, 98) 90.4%
  );
  --paragraph-header: "Laila", sans-serif;
  --paragraph-font: "DM Serif Text", serif;
}

body {
  font-family: var(--paragraph-header);
  background: var(--branding-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

p {
  font-size: 18px;
  font-weight: lighter;
  font-family: var(--paragraph-font);
  color: rgb(245, 239, 151);
}

footer {
  font-size: 50px;
  text-align: center;
  color: rgb(128, 109, 3);
}

.mirror p {
  border: 10px solid rgba(57, 11, 61, 0.575);
  border-radius: 80px 40px;
  color: #1f3805;
  background-image: url("images/saturn.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.bg-light {
  background: var(--branding-color) !important;
}

.element.style {
  color: white;
  border-color: white;
}

.intro-one {
  color: rgb(245, 239, 151);
  opacity: 85%;
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: larger;
}

.intro-two {
  color: rgb(245, 239, 151);
}

@media (max-width: 900px) {
  h1 {
    font-size: 42px;
  }
}
