:root {
  --primary-color: black;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font: "DM Serif Text", serif;
}

body {
  margin-top: 120px;
  background: rgb(250, 190, 190);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-weight: bold;
}

h1 {
  font-size: 75px;
  font-family: var(--primary-font);
}

h2 {
  font-size: 48px;
  font-family: "DM Serif Text", serif;
  text-align: center;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  font-family: "DM Serif Text", serif;
  text-align: center;
}

h4 {
  font-size: 40px;
  opacity: 0.7;
}

p {
  font-size: 20px;
  color: rgba(40, 35, 35, 0.863);
  opacity: 75%;
  font-family: var(--primary-font);
}

img {
  max-width: 100%;
  border-radius: 10px;
}

.button {
  text-align: center;
  height: 3.5rem;
  padding: 0 2rem;
  border-radius: 0.375rem;
  background: black;
  color: #ffffff;
  box-shadow: 0 0.4rem 0 0 #1d162f90;
  transition: all 0.3s;
}

.button:hover {
  transform: translateY(0.3rem);
  box-shadow: 0 0.2rem 0 0 #1d162f90;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  display: flex;
  justify-content: space-evenly;
  font-size: 35px;
  text-align: center;
  color: white;
}

.bg-light {
  background: black !important;
}

.navbar-brand {
  color: white !important;
  font-weight: bolder;
  font-family: var(--primary-font);
}

.nav-link {
  color: white !important;
  font-weight: bolder;
}

.navbar-toggler {
  color: white !important;
  font-weight: bolder;
}

.navbar-toggler-icon {
  border-color: white !important;
  color: black !important;
  font-weight: bolder;
}

.navbar-expand {
  color: white !important;
  font-weight: bolder;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.intro-p p h3 {
  color: rgba(40, 35, 35, 0.863);
  border-radius: 20px 20px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 246, 236) 39.5%,
    rgba(100, 46, 122, 0.23) 100.2%
  );
  font-weight: bolder;
  color: white;
}

.hero {
  color: #1f3805;
  background-image: url("images/pink-black-cat.jpg");
  background-color: rgb(250, 190, 190);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 50% 95%;
  padding: 170px 30px;
}

.hero h1 {
  color: white;
  font-weight: bold;
}

.hero h3 {
  line-height: 3;
  color: rgba(40, 35, 35, 0.863);
}

.project img {
  max-width: 100%;
  transition: 0.5s ease;
}

.project img:hover {
  box-shadow: 1px 1px #3f3b08, 2px 2px #3f3b08, 3px 3px #3f3b08, 4px 4px #3f3b08,
    5px 5px #3f3b08, 6px 6px #3a2d07;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: 0.5s ease;
}

.black-cat {
  overflow: hidden;
  width: 16rem;
  height: 16rem;
  border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;

  background: url("images/pink-black-cat.jpg");
  background-size: cover;
  background-position: cover;

  animation: morph 3.75s linear infinite;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.project-description {
  padding: 120px 60px;
  color: white;
}

.contact-links {
  color: white;
  padding-top: 60px;
}

.contact-links :hover {
  color: black;
}

.copyright {
  font-size: 16px;
  font-weight: lighter;
  font-family: var(--primary-font);
}

.contact-btn {
  text-align: center;
  color: white;
}

.contact-btn :hover {
  color: white;
  text-decoration: none;
  transition: rgb(222, 213, 222) 1s ease-in-out;
}

@keyframes morph {
  0%,
  100% {
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  }
  33% {
    border-radius: 72% 28% 48% 48% / 28% 28% 72% 72%;
  }
  66% {
    border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
  }
}

@media (max-width: 960px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
    text-align: center;
  }

  h3 {
    font-size: 18px;
    text-align: center;
  }

  h4 {
    font-size: 18px;
  }

  p {
    font-size: 18px;
    text-align: center;
  }

  small {
    font-size: 8px;
  }

  footer {
    font-size: 25px;
  }

  .hero {
    padding: 80px 20px;
    width: 100%;
    background: rgb(250, 190, 190);
    background-size: 480px;
    background-repeat: no-repeat;
    background-position: top;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .courtesy {
    font-size: 8px;
    line-height: 1.3em;
  }

  .copyright {
    font-size: small;
  }
}
